@import './styles/reset.css';
@import './styles/HeaderPublic.css';

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    font-weight: 600;
}

p {
    margin-bottom: 1.5rem;
}

.container {
    max-width: auto;
    margin: 0 auto;
    padding: 0 1.5rem;
}


@media (max-width: 768px) {
    .container {
        padding: 0 1rem; 
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 1.2rem; 
    }

    p {
        margin-bottom: 1rem; 
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 0.5rem; 
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.2rem; 
    }

    p {
        font-size: 0.9rem; 
    }
}
